.insurance {
    width: 1440px;
    height: 746px;
    display: flex;
    flex-flow: column nowrap;
    gap: 23px;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .insurance {
        width: 1024px;
        height: 730px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .insurance {
        width: 768px;
        height: 720px;
    }
}

@media screen and (max-width: 767px) {
    .insurance {
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        gap: 50px;
    }
}

.insuranceTag {
    width: 1012px;
    height: 266px;
    padding-left: 135px;
    padding-top: 89px;
    display: flex;
    flex-flow: row nowrap;
    gap: 88px;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .insuranceTag {
        width: 945px;
        height: 266px;
        gap: 31px;
        padding-left: 24px;
        padding-top: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .insuranceTag {
        width: 727px;
        height: 266px;
        gap: 22px;
        padding-left: 24px;
        padding-top: 72px;
    }
}

@media screen and (max-width: 767px) {
    .insuranceTag {
        width: 90%;
        height: 100%;
        gap: 33px;
        padding-left: 0px;
        padding-top: 50px;
        align-items: center;
        flex-direction: column;
    }
}

.insuranceTag>p {
    width: 416px;
    color: var(--mint-dark, #17BEBB);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .insuranceTag>p {
        width: 245px;
        height: 220px;
        text-align: left;
    }
}

@media screen and (max-width: 767px) {
    .insuranceTag>p {
        width: auto;
        height: auto;
        padding: 0px;
        text-align: center;
    }
}

.alladvice {
    width: 498px;
    height: 266px;
    display: flex;
    flex-flow: row nowrap;
    gap: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .alladvice {
        gap: 40px;
    }
}

@media screen and (max-width: 767px) {
    .alladvice {
        width: 90%;
        height: 293px;
        gap: 10%;
    }
}

.advice {
    height: 266px;
    display: flex;
    flex-flow: column nowrap;
    gap: 32px;
    justify-content: center;
    animation: bounce 1s;
    transform: translateY(0px);
    animation-iteration-count: 3;
}

@keyframes bounce {
    0% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }

    40% {}

    50% {
        top: 140px;
        height: 140px;
        -webkit-animation-timing-function: ease-out;
    }

    55% {
        top: 160px;
        height: 120px;
        -webkit-animation-timing-function: ease-in;
    }

    65% {
        top: 120px;
        height: 140px;
        -webkit-animation-timing-function: ease-out;
    }

    95% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }

    100% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
}

#advice1 {
    width: 182px;
}

#advice2 {
    width: 256px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #advice2 {
        width: 238px;
    }
}

@media screen and (max-width: 767px) {
    #advice1 {
        width: 45%;
        height: 293px;
    }
    
    #advice2 {
        width: 55%;
        height: 293px;
    }
}

.imgBg {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    margin: 0px auto;

}

.blurbg {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    background-color: #58F5EF;
    filter: blur(15px);
}

.imgBg>img {
    width: 108px;
    height: 108px;
    padding-left: 0px;
    z-index: 9999;
}

@media screen and (max-width: 767px) {
    .imgBg {
        width: 100%;
        height: 50%;    
    }
    
    .blurbg {
        width: 100%;
        height: 50%; 
    }
    
    .imgBg>img {
        width: 70%;
        height: 70%;
    }

    .imgBg>p {
        padding: 0px;
    }
}

.advice>p {
    height: 54px;
    color: #95A7B8;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.choose {
    width: 1047px;
    height: 357px;
    padding-left: 159px;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .choose {
        width: 976px;
        height: 301px;
        padding-left: 24px;
        padding-top: 56px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .choose {
        width: 756px;
        height: 331px;
        padding-left: 0px;
        padding-top: 59px;
    }
}

@media screen and (max-width: 767px) {
    .choose {
        position: inherit;
        width: 100%;
        height: 100%;
        padding-left: 0px;
        padding-top: 0px;
        flex-direction: column;
        gap: 21px;
    }
}

.choose>img {
    width: 357px;
    height: 357px;
    z-index: 9999;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .choose>img {
        width: 301px;
        height: 301px;
        padding-left: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .choose>img {
        width: 301px;
        height: 301px;
        padding-left: 0px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .choose>img {
        display: none;
    }
}

.optionsLayout {
    width: 750px;
    height: 251px;
    display: flex;
    flex-flow: column nowrap;
    gap: 21px;
    padding-top: 37px;
    margin-left: -60px;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .optionsLayout {
        padding-top: 3px;
        margin-left: -75px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .optionsLayout {
        width: 502px;
        height: 268px;
        padding-top: 0px;
        margin-left: -47px;
    }
}

@media screen and (max-width: 767px) {
    .optionsLayout {
        width: 90%;
        height: 100%;
        padding-top: 0px;
        align-items: center;
        margin: 0px auto;
    }
}

.optionsLayout>p {
    text-align: left;
    color: var(--mint-dark, #17BEBB);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 13px;
}

@media screen and (max-width: 767px) {
    .optionsLayout>p {
        width: auto;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;
    }
}

.options {
    width: 750px;
    height: 160px;
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .options {
        width: 502px;
        height: 187px;
        gap: 19px;
    }
}

@media screen and (max-width: 767px) {
    .options {
        width: 100%;
        height: 100%;
        flex-flow: column nowrap;
        gap: 16px;
    }
}

.option {
    width: 360px;
    height: 160px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
    transition: 1s;
}

.option:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 9999;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .option:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .option {
        width: 236px;
        height: 187px;
        border-radius: 16px;
        transition: 1s;
    }

    #option2 {
        width: 247px;
    }

    .option:hover {
        -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
        transform: scale(1.06);
    }
}

@media screen and (max-width: 767px) {
    .option {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        gap: 0px;
        transition: 1s;
    }

    #option2 {
        width: 100%;
    }

    .option:hover {
        -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
        transform: scale(1.06);
    }
}

#option1 {
    background-color: #94D8FF;
}

#option2 {
    background-color: #9EEDE9;
}

.option>img {
    width: 56px;
    height: 56px;
    padding-left: 280px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .option>img {
        width: 56px;
        height: 56px;
        padding-left: 156px;
    }
}

@media screen and (max-width: 767px) {
    .option>img {
        width: 56px;
        height: 56px;
        padding-left: 80%;
        padding-top: 16px;
    }
}

.option>p {
    color: var(--text-primary, #202030);
    width: 312px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .option>p {
        width: 188px;
        height: 81px;
    }

    #option2>p {
        width: 199px;
        height: 81px;
    }
}

@media screen and (max-width: 767px) {
    .option>p {
        width: 90%;
        height: 54px;
        padding: 0px;
        padding-bottom: 16px;
    }

    #option2>p {
        width: 90%;
        height: 54px;
        padding-bottom: 16px;
    }
}